# Anthropic Managed Agents
ANTHROPIC_API_KEY=sk-ant-api03-TWOJ_KLUCZ
ANTHROPIC_AGENT_ID=agent_01Ks7zYVtLK7y9CVhnS1UQsh
ANTHROPIC_ENVIRONMENT_ID=env_01QAwoXtT9bY1JmGdTHdHXWr

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://TWOJ_PROJEKT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=TWOJ_ANON_KEY
